{
    "branches": ["main"],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        ["@semantic-release/npm", {
                "npmPublish": false,
                "private": "true",
            }
        ],
        ["@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "package.json"
                ]
            }
        ],
        ["@semantic-release/exec",
            {
                "successCmd": "chmod u+x ./cicd/scripts/upload-pseudo-artifact.sh ; ./cicd/scripts/upload-pseudo-artifact.sh ${nextRelease.version} ${Date.now()}"
            }
        ],        
        ["@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "*"
                    }
                ]
            }
        ]
    ]
}
 
